/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Dancing Script", cursive;
  padding: 0 40px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
  z-index: 999;
  transition: 0.3s;
  font-size: 20px;
}

/* Khi scroll */
.navbar.scrolled {
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
  font-family: "Great Vibes", cursive;
  font-size: 28px;
  color: #e91e63;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
}

/* Link */
.menu a {
  margin-left: 20px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* Hover underline animation */
.menu a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #e91e63;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

/* Active */
.menu a.active {
  color: #e91e63;
}

/* RSVP button */
.rsvp-btn {
  background: #e91e63;
  color: white !important;
  padding: 6px 14px;
  border-radius: 20px;
}

.rsvp-btn::after {
  display: none;
}

/* Music button */
.music-btn {
  margin-left: 20px;
  cursor: pointer;
  font-size: 18px;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    position: absolute;
    top: 70px;
    right: 0;

    width: 200px;

    background: white;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px;

    transform: translateX(100%);
    transition: 0.3s;
  }

  .menu.open {
    transform: translateX(0);
  }

  .menu a {
    margin: 10px 0;
  }

  .music-btn {
    margin-top: 10px;
  }
}
